body{
    background-color: #ffffff;
    text-align: center;
    font-family: Poppins;
}

.Heron{
    position :absolute;
    width:18%;
        min-width:120px;
        max-width:200px;
    top: 10px;
    right: 10px;
}

h2{
    color: #6f5aa8;;
    font-size: 40px;
    margin-top: 250px;
    margin-bottom: 20px;
}

span{
    font-size: 15px;
}

input{
    width: 10%;
    height: 20%;
    min-width: 30px;
    min-height: 60px;
    max-width: 60px;
    max-height: 30px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    font-family: Poppins;
    border: 3px solid #6f5aa8;
    font-weight: bold;
    justify-content: center;
    align-items: center;    
    caret-color: transparent;
    margin: 5px;
}

#otp3{
    margin-right: 50px;
}


input:focus{
    outline: none;
    border: 2px solid #6f5aa8;
    outline:none;
}

button{
    width:40%;
    min-width:250px;
    max-width:400px;
    height: 20%;
    min-height: 35px;
    max-height: 60px;
    background-color: #6f5aa8;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    transition: 0.3s;
}

button:active{
    transform: scale(0.98);
}

#popup{
    position: fixed;
    top: 20px;
    left: 20px;
    background: #7454cb;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 18px;
    opacity: 0;
    display: none;
    transition: opacity .3s;
}
